<form action="{% url 'PaymentAPI' %}" method="GET" class=" develop" id="pay">
    <div class="row">
        <div class="col-md-6" style="width: 100%">
            <strong>Сумма (руб)</strong>
            <input class="value" type="number" name="value" title="Укажите сумму" pattern="[\d]*" required>
        </div>
        <div class="clear"></div>
        <strong style="padding-top: 10px;">Оплатить</strong>
        <div id="services">
            <label>
                <input type="radio" name="payment_method" value="bank_card" checked>
                Банковской картой
                <span></span>
            </label>
            <label>
                <input type="radio" name="payment_method" value="sberbank">
                Сбербанк Онлайн
                <span></span>
            </label>
            <label>
                <input type="radio" name="payment_method" value="alfabank">
                Альфа-Клик
                <span></span>
            </label>
            <label>
                <input type="radio" name="payment_method" value="yandex_money">
                Яндекс.Деньги
                <span></span>
            </label>
            <label>
                <input type="radio" name="payment_method" value="webmoney">
                WebMoney
                <span></span>
            </label>
        </div>
        <div style="padding: 0 15px;">
            <button type="button" id="pay__button" onclick="void 0">Оплатить</button>
        </div>
    </div>
</form>
<script>
    let form = document.querySelector('#pay')
    form.querySelector('button').addEventListener('click', ()=>{
        if (form.querySelector('.value').reportValidity()){
            let method = form.method
            let request_url = form.action
            let value = form.querySelector('[name=value]')
            let payment_method = form.querySelector('[name=payment_method]:checked')
            sendRequest(method, request_url, {'value': value.value, 'payment_method': payment_method.value}).then(e=>{
                if (e.status === 'ok'){
                    window.location.replace(e.redirect_to)
                } else if (e.status === 'error'){
                    show_modal_notification('Сервис временно не доступен, попробуйте другой способ оплаты.')
                }
            })
        }
    })
</script>