.idea/
*.sqlite3
*.pyc
*.php
KOLIBRINAvenv/
project/static/mediacontent/
project/static/admin/
!project/static/mediacontent/users/user_admin/Avatar.png
!project/static/mediacontent/banners/banner.png
*_auto_*.py
*_inital.py