.idea/
KolibrinaVENV/
project/.idea/
project/__pycache__/
project/*.sqlite3
project/static/mediacontent/users/
!project/static/mediacontent/users/user_admin/
project/static/mediacontent/banners/
!project/static/mediacontent/banners/banner.png
project/Kolibrina/__pycache__/
project/Kolibrina/__pycache__/
project/questions/__pycache__/