@import "../fonts.css";.addquest_info{text-align:center;display:flex;justify-content:center;padding:10px}.addquest_wrap{padding:15px 25px;border:1px solid #1760a7}.addquest_author{text-align:center;font-size:22px;font-weight:700;margin-bottom:20px}.addquest_theme-category{display:flex;justify-content:space-between;flex-wrap:wrap;align-items:flex-end;padding-bottom:30px;padding-top:30px}.addquest_theme-category select{width:300px;padding-left:15px;height:35px;margin-bottom:20px}.addquest_theme-category .addtheme{width:50px;height:35px;border:1px solid #31a9ff;margin-left:10px;background:#31a9ff;color:#fff;cursor:pointer;display:flex;align-items:center;justify-content:center;font-size:22px;font-weight:700}.addquest_theme-category .addtheme span{height:35px}.addquest_theme-category .addtheme_wrap{display:flex}.addquest_complexity{padding:20px 0;display:flex}.addquest_complexity .complexity_btn{margin-left:20px;border-right:1px solid #31a9ff;padding-right:20px;cursor:pointer}.addquest_question{width:100%;outline-color:#31a9ff;padding:15px;max-width:100%;min-width:100%}.reply_var{padding:20px 0;display:flex;flex-wrap:wrap}.reply_var input{outline-color:#31a9ff;margin-left:20px;padding-left:15px;margin-bottom:12px}.correct_ans{border:1px solid #c53220}.tournir_list{display:flex;flex-wrap:wrap}.tournir_list span{margin-bottom:15px;padding-top:4px}.tournir_list td,.tournir_list th{padding:0 10px;width:auto;height:30px}.addquest_btns{display:flex;padding:20px 0;justify-content:flex-end;align-items:flex-end;flex-direction:column}.addquest_btn{height:55px;margin-bottom:20px;padding:0 50px;display:flex;justify-content:center;align-items:center;color:#fff;font-weight:700;font-size:18px;cursor:pointer;background:#31a9ff;text-align:center}table{width:100%;border-collapse:collapse;border-spacing:0}table,td,th{border:1px solid #fff}td,th{min-width:50px;height:51px}.fcolt td{background:#b0deff}.fcolt td:nth-child(2n){background:#c3b8ff}.fcolt td{padding-left:15px;font-size:15px;font-weight:700}.circle_btn{WIDTH:50px;height:50px;background:#fff;color:#333;font-weight:700;cursor:pointer;border-radius:30px;margin:auto;display:flex;align-items:center;justify-content:center}.circle_btn:hover{background:#00d14e;transition:all .3s}.circle_btn.act{background:#00d14e!important;}.zamena{font-size:14px;font-weight:100}input,select,textarea{border:2px solid #31a9ff}.vntr td{background:#b0deff}.fc{background:#c3b8ff;font-size:30px}.fc span{display:block;text-align:center;font-weight:700}.add_in_tourn{padding-bottom:20px;display:flex;align-items:center;justify-content:space-between}.add_in_tourn span{font-weight:500}.rrd{color:#B658B0;font-weight:500}.addtour_btn{height:55px;margin-bottom:20px;padding:0 50px;display:flex;justify-content:center;align-items:center;color:#fff;font-weight:700;font-size:18px;cursor:pointer;background:rgba(111,1,220,.65);text-align:center}.sv_row td{background:#c3b8ff!important}.tm_row td{background:#b0deff!important}.addmarafon .fc{font-size:20px}.addmarafon .fcolt td{font-size:22px;text-align:center;padding-left:0}.addtheme_btn{justify-content:center;align-items:center}
#add_theme{
    display: flex;
    transform: scaleY(0);
    height: 0;
    transition: all 0.5s;
}
#add_theme input{
    width: 300px;
    height: 35px;
    transition: background-color 1s;
}
#add_theme .btn{
    display: block;
    width: 50px;
    height: 35px;
    background-color: #31a9ff;
    color: #0f0;
    text-align: center;
    font-size: 30px;
}
.circle_btn span{
    display: flex;
    width: 50px;
    height: 50px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
.circle_btn.ok{
    background: #00000050;
}