@import "../fonts.min.css";

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    background: rgba(4, 10, 30, .8)
}

.modal__ask-question {
    width: 100%;
    max-width: 650px;
    min-height: 400px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 10px
}

.modal__ask-question__body, .modal__ask-question__head {
    padding: 10px 15px
}

.modal__ask-question__head p {
    color: #ED1C24;
    font-weight: 700
}

.modal__ask-question__body * {
    margin: 10px 0
}

.modal__ask-question__body textarea {
    display: block;
    padding: 10px
}

.modal__ask-question__body a {
    background-color: #ED1C24;
    display: inline-block;
    color: #fff;
    padding: 10px 15px
}

.modal__ask-question__close {
    position: absolute;
    right: 15px;
    top: 0;
    font-weight: 700;
    font-size: 36px
}

.modal__ask-question__close a {
    cursor: pointer
}

.status_red span {
    background-color: #ED1C24;
    color: #fff;
    display: inline-block;
    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-box-shadow: 5px 5px 4px 0 rgba(50, 50, 50, .6);
    -moz-box-shadow: 5px 5px 4px 0 rgba(50, 50, 50, .6);
    box-shadow: 5px 5px 4px 0 rgba(50, 50, 50, .6)
}

.estimate-author, .text-author {
    color: #969696;
    margin: 30px 0;
    font-family: Times New Roman;
    font-size: 16px
}

.estimate-author a {
    color: #FF7F27;
    padding: 0 5px
}

.estimate-author a:hover {
    text-decoration: underline
}

#info-question {
    font-size: 15px
}

#question {
    padding-top: 10px;
    font-size: 18px
}

#answer {
    padding-top: 30px
}

#answer i {
    font-size: 23px
}

#answer span {
    font-size: 19px;
    padding-bottom: 1px;
    border-bottom: 1px solid #222
}

#points {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px
}

.new-game a {
    color: #fff;
    display: inline-block;
    padding: 14px 100px;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    background: #FF7F27;
    font-weight: 500;
    font-size: 18px
}

.new-game a:hover {
    opacity: .8
}