@font-face {
    font-family: Awesome;
    src: url(../fonts/awesome/fontawesome-webfont.eot?v=4.7.0);
    src: url(../fonts/awesome/fontawesome-webfont.eot?#iefix&v=4.7.0) format('embedded-opentype'), url(../fonts/awesome/fontawesome-webfont.woff2?v=4.7.0) format('woff2'), url(../fonts/awesome/fontawesome-webfont.woff?v=4.7.0) format('woff'), url(../fonts/awesome/fontawesome-webfont.ttf?v=4.7.0) format('truetype'), url(../fonts/awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format('svg');
    font-weight: 400;
    font-style: normal
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 Awesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.fa-caret-right:before {
    content: "\f0da"
}

.fa-key:before {
    content: "\f084"
}

.fa-envelope-o:before {
    content: "\f003"
}

.fa-check-square:before {
    content: "\f14a"
}