@import "../config.css" all;header{width:100%}header .header-gradient{height:90px;background:-webkit-linear-gradient(left,#4802d3 16%,#1501fa 84%)!important;background:-o-linear-gradient(left,#4802d3 16%,#1501fa 84%)!important;background:linear-gradient(to right,#4802d3 16%,#1501fa 84%)!important}header .logo img{height:76px;width:auto}header .caption{color:#fff}header .caption h1{text-transform:uppercase;font-size:40px}header .caption h2{font-size:16px;font-family:Times New Roman}header nav{background-color:#fff;display:flex;flex-wrap:wrap;justify-content:center;align-items:center}header nav a{font-weight:700}header nav a span{display:inline-block;padding:5px 30px}header nav a:hover,header nav a>span.select{color:#fff;transition:all .3s;background:-webkit-linear-gradient(left,#4802d3 16%,#1501fa 84%)!important;background:-o-linear-gradient(left,#4802d3 16%,#1501fa 84%)!important;background:linear-gradient(to right,#4802d3 16%,#1501fa 84%)!important}.title{width:100%;min-height:36px;background-color:#01040D;justify-content:space-around}.title h2,.title span{color:#fff;line-height:36px;text-transform:uppercase}.title .stage{font-weight:700}.title h2{color:#fff;font-weight:bolder;font-size:18px;font-family:Segoe UI Semibold;text-align:center;text-transform:uppercase}
.error{
    background: #ffc0c0;
    border: solid 1px #ff7373;
    padding: 5px;
    border-radius: 10px;
}
#online{
    color: #fff;
    opacity: 0.2;
    position: absolute;
    right: 10px;
    font-size: 20px;
    margin-left: auto;
    /*margin-top: 35px;*/
    margin-top: 10px;
}

.header_balance{
    color: #fff;
    opacity: 0.2;
    position: absolute;
    right: 10px;
    margin-top: 35px;
    font-size: 15px;
}

/*.develop{*/
/*    position: relative;*/
/*    justify-content: center;*/
/*    min-width: 200px;*/
/*    pointer-events: none;*/
/*}*/
/*.develop:before{*/
/*    content: '' !important;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    background: #999;*/
/*    border: 4px #555 solid ;*/
/*    margin: 1px;*/
/*    opacity: 0.8;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*}*/
/*.develop:after{*/
/*    content: 'В РАЗРАБОТКЕ' !important;*/
/*    color: #000;*/
/*    position: absolute;*/
/*    background: #fff;*/
/*    padding: 10px;*/
/*    box-shadow: 0 0 30px black;*/
/*    border-radius: 5px;*/
/*    opacity: 0.6;*/
/*    z-index: 1;*/
/*    left: calc(50% - 65px);*/
/*    top: calc(44% - 10px);*/
/*}*/
*{
    user-select:none
}
.pd-h-10{
    padding: 0 10px;
}

#modal_notification{
    display: block;
    box-sizing: content-box;
    text-align: center;
    position: fixed;
    left: 20vw;
    top: -2vh;
    overflow-wrap: break-word;
    opacity: 0;
    background: #fd0e;
    padding: 0.5rem;
    border-radius: 10px;
    border: #550 2px solid;
    width: 60vw;
    min-height: 1vh;
    transition: 0.7s;
}

.al-center{
    text-align: center;
}