<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="index,follow">

    <title>КОЛИБРИНА - Меню Турниров</title>

    <meta name="description" content="">

    {% include 'main/headPiece.html' %}

    <link rel="stylesheet" href="{% static 'css/pages/questions.min.css" %}">
    <link rel="stylesheet" href="{% static 'css/pages/tournament-menu.min.css" %}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{% include "main/header.html" %}
<div class="container question-nav" style="border: 1px solid #3F48CC; margin-top: 20px; padding-bottom: 20px">
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div class="row m10">
                <div class="border3F48CC">
                    <strong class="question-title">ЭРУДИТ-ЛОТО</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="{% url 'train' %}">Тренировка</a>
                        <a href="{% url 'tournament-week' %}"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Турнир
                            недели</a>
                        <a href="#" class=""><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Турнир
                            тематиеский</a>
                        <a href="#" class="develop"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Марафон
                            Создать/Присоедениться</a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#" class="develop"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Турнир
                            призовой <img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a data-url='{% url 'marafon_week' %}' class="marafon-week develop"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Марафон
                            недели<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#" class="develop"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Марафон
                            призовой<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

            <div class="row m10 develop">
                <div class="border3F48CC">
                    <strong class="question-title">Своя игра</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#">Тренировка</a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Личное первенство
                            сезона<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Кубок РАНК<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Призовой турнир<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

            <div class="row m10">
                <div class="border3F48CC">
                    <strong class="question-title">Эрудит-Квартет</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#" class="develop"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Кубок РАНК<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#" class="develop"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Командное
                            первенство сезона<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

            <div class="row m10 develop">
                <div class="border3F48CC">
                    <strong class="question-title">Что? Где? Почему?</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#">Тренировка<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Общероссийский турнир для
                            школьников<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Общероссийский турнир для
                            школьников<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Общероссийский Синхрон
                            "Снегопад"<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

            <div class="row m10 develop">
                <div class="border3F48CC">
                    <strong class="question-title">Брэйн-Шторм</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Кубок РАНК<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Командное первенство
                            сезона<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-6 col-lg-6">

            <div class="row m10 develop">
                <div class="border3F48CC">
                    <strong class="question-title"><span style="text-transform: capitalize;">Интеллектуальное шоу</span>
                        <br> "Ворошиловский стрелок" <br> Интеллектуальный биатлон</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#">Тренировка</a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Масс-Старт<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Спринт-Мужской<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Спринт-Женский<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Кубок России(online)<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Эстафета<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Микс<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">МиксТ<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

            <div class="row m10 develop">
                <div class="border3F48CC">
                    <strong class="question-title">Интеллектуальный биатлон</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#">Тренировка</a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Масс-Старт<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Спринт-Мужской<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Спринт-Женский<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Кубок России(online)<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Эстафета<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Микс<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">МиксТ<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

            <div class="row m10 develop">
                <div class="border3F48CC">
                    <strong class="question-title">Сильное звено</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Кубок РАНК<img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1">Командное первенство
                            сезона<img src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>

            <div class="row m10 develop">
                <div class="border3F48CC">
                    <strong class="question-title">КОЛИБРИQUIZ</strong>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1"><img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <a href="#"><img src="{% static 'img/R.jpg' %} " alt="" class="attr1"><img
                                src="{% static 'img/rub.jpg' %} " alt="" class="attr2"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt20"></div>

{% include "main/footer.html" %}
{% include "game/blocks/pay_confirmation.html" %}
<script>
    $(document).ready(function () {
        $("header nav a:nth-child(2) > span").addClass("select");
        $(".title > h2 > strong").html("Меню турниров");
        $(".footer__buttons").append('<div"><p><img src="{% static 'img/R.jpg' %} " alt="" width="20px" height="auto" style="vertical-align: middle"> - обязательна регистрация</p><p><img src="{% static 'img/rub.jpg' %} " alt="" width="20px" height="auto" style="vertical-align: middle"> - турнир со взносом</p></div>');
    });
</script>

</body>
</html>