@import "../fonts.css";
@import "../marafon.css";
.text-information {
  min-height: 70px;
  margin-top: 0;
  margin-right: 15px;
}
.user_img {
  width: 50px;
  height: 50px;
  background: #333;
  border-radius: 50px;
  margin-right: 10px;
}
.user-stat {
  padding: 15px 0;
  display: flex;
}
.user-avatar {
  display: flex;
  align-items: center;
}
.user-name {
  display: flex;
  flex-direction: column;
}
.user-points {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.user-points_points {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.points-title {
  display: flex;
  justify-content: center;
  font-weight: 700;
}
.points_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.points_block .points_block-points {
  color: #B658B0;
  font-weight: 700;
  font-size: 22px;
}
.league_place {
  text-align: center;
}
.league_count {
  color: #B658B0;
  font-weight: 700;
  font-size: 18px;
}
.author {
  max-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  margin: 0 20px;
  border-left: 1px solid #969696;
  border-right: 1px solid #969696;
}
.user-lvl {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-right: 15px;
  margin-right: 15px;
}
.user-lvl span {
  font-size: 18px;
  font-weight: 500;
}
.user-lvl .lvl {
  color: #B658B0;
  font-weight: 700;
  font-size: 18px;
}
.major-title {
  font-size: 18px;
  font-weight: 500;
}
.marafon_league {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #969696;
  padding-right: 35px;
  margin-right: 15px;
  color: #969696;
  font-weight: 500;
}
.major-count {
  color: red;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  border: 2px solid red;
  padding: 2px 30px;
}
.game_nav {
  width: 100%;
  min-height: 50px;
  border: 1px solid #969696;
  padding: 15px;
  margin-top: 30px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.game_nav .game_nav-btns {
  display: flex;
  margin: auto;
  max-width: 700px;
  flex-wrap: wrap;
}
.game_nav a {
  height: 40px;
  width: 40px;
  border: 1px solid #969696;
  border-radius: 50px;
  display: flex;
  font-weight: 700;
  margin-right: 15px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  transition: all 0.3s;
}
.game_nav a:hover {
  background-color: #2D06FF;
  color: #fff;
}
.game_nav a.act {
  background-color: #2D06FF;
  border-color: #2D06FF;
  color: #fff;
}
.user-stat {
  justify-content: space-between;
}
.marafon-top {
  padding-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.marafon-top .text-information {
  margin-top: 0;
  min-height: 40px;
  margin-right: 25px;
}
.marafon-top .marafon-top_right {
  display: flex;
}
.marafon-top .btn_choose {
  border: 3px solid #155afe;
  padding: 0px 5px;
  color: #155afe;
  font-weight: bold;
  min-width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 15px;
  height: 40px;
}
.marafon-top .btn_choose:hover {
  background: #155afe;
  color: #fff;
}
.marafon-top .marafon-timer {
  border: 3px solid red;
  padding: 15px 20px;
  color: red;
  font-weight: bold;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s;
  font-size: 20px;
  height: 40px;
}
.marafon_author-title {
  font-weight: bold;
}
.marafon_author {
  display: flex;
  flex-direction: column;
}
.marafon_author-name {
  color: #969696;
  font-weight: 500;
}
.topics {
  margin-bottom: 20px;
}
.topic {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.topic .topic-name {
  width: 250px;
  cursor: pointer;
  height: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background: #155afe;
  margin-right: 30px;
}
.topic .topic-points {
  display: flex;
}
.topic .topic-point {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 70px;
  cursor: pointer;
  background: #4375ed;
  color: #fff;
  margin-left: 10px;
}
.topic .topic-point.act {
  background: red;
}
.topic .topic-point.disable {
  background: #969696;
}
.correct_answer {
  margin-top: 15px;
  font-weight: bold;
}
.rating-title {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  color: #969696;
  margin-top: 5px;
  margin-bottom: 10px;
}
.rating-place {
  display: flex;
  justify-content: space-between;
  color: #969696;
  font-weight: 500;
  flex-wrap: wrap;
}
.viewers {
  text-align: center;
  font-weight: bold;
  color: #969696;
}
.ml15 {
  margin-left: 15px;
}
.user-points_table_col {
  display: flex;
  font-weight: bold;
  margin: 0 30px;
}
.user-points_table_col .user-points_table_row {
  min-width: 140px;
  border-bottom: 1px solid #33333330;
}
.user-points_table_col .user-points_table_row:nth-child(2n) {
  min-width: 50px;
}
.cr {
  color: #B658B0;
  font-size: 18px;
}
.header-gradient {
  background: linear-gradient(90deg, #5401fa 16%, #013cfa 84%) !important;
}
.user-lvl {
  border-right: none;
}
.user-name span {
  font-weight: 500;
}
.game__functional a {
  border: 2px solid #fff;
  box-shadow: -4px 3px 10px 0px rgba(50, 50, 50, 0.33);
}
@media screen and (max-width: 1200px) {
  .user-stat {
    flex-wrap: wrap;
    justify-content: center;
  }
  .user-stat .user_div {
    margin-bottom: 15px;
  }
}
.viewers_list {
  color: #969696;
  font-weight: 500;
  padding: 10px 0;
}
@media screen and (max-width: 992px) {
  .topic {
    flex-direction: column;
  }
  .topic .topic-name {
    width: 100%;
    margin-bottom: 5px;
  }
  .topic .topic-points {
    justify-content: space-between;
  }
  .topic .topic-point {
    margin-left: 0;
  }
}
@media screen and (max-width: 760px) {
  .marafon-top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .text-information {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 530px) {
  .marafon-top_right {
    flex-wrap: wrap;
  }
  .btn_choose {
    margin: 0;
    margin-bottom: 10px;
  }
}
