form {
    margin-top: 40px
}

form input.string {
    display: inline-block;
    width: 80%;
    margin: 0 0 10px -10px;
    padding: 6px 12px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px
}

form input.string:focus {
    outline: 0
}

form input[type=checkbox] {
    margin: 7px 0
}

form label a {
    color: #2D06FF
}

form label a:hover {
    text-decoration: underline
}

form #auth:hover, form #reg:hover {
    opacity: .8
}

form #reg {
    border: 1px solid silver;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    padding: 7px 24px
}

form #sign_in {
    border: 1px solid silver;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    padding: 7px 24px
}

form #auth {
    margin-left: 10px;
    color: #2D06FF;
    border-bottom: 1px dashed #2D06FF
}

form .input-group-text {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    z-index: 1
}