<div class="game__options">
    <label class="answer">
        <input class="answer" type="radio" name="answer" value="______" checked>
        ______
        <span></span>
    </label>
    <label class="answer">
        <input class="answer" type="radio" name="answer" value="______">
        ______
        <span></span>
        <span></span>
    </label>
    <label class="answer">
        <input class="answer" type="radio" name="answer" value="______">
        ______
        <span></span>
    </label>
    <label class="answer">
        <input class="answer" type="radio" name="answer" value="______">
        ______
        <span></span>
    </label>
</div>
