<div class="game">
    <div class="loading"></div>
    <div class="start"><div id="start_game" class="btn">Старт</div></div>
	<div class="row">
		<div class="col-sm-8 col-md-8 col-lg-8">
			<div class="game__question">
				_____________________________________________
			</div>
			<div class="game__options">
				<label id="answer">
					<input type="radio" name="answer" value="" checked>
					______
					<span></span>
				</label>
				<label id="answer">
					<input type="radio" name="answer" value="">
					______
					<span></span>
				</label>
				<label id="answer">
					<input type="radio" name="answer" value="">
					______
					<span></span>
				</label>
				<label id="answer">
					<input type="radio" name="answer" value="">
					______
					<span></span>
				</label>
			</div>
			<div class="game__button">
				<div class="btn">Ответить</div>
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4 game__functional">
			<div class="btn hint1">Спросить у мастера</div>
			<div class="btn hint2">Убрать 2 ответа</div>
			<div class="btn hint3">Пропустить вопрос</div>
			<div class="btn hint4">Ответ со второй попытки</div>
			<div class="btn">Добавить баллы на счёт</div>
		</div>
	</div>
</div>
