<div class="bg"></div>
<div id="pay_confirmation">
    <div class="content">
        <div class="note">Стоимость участия <span id="price"></span><span id="currency">руб.</span></div>
        <div class="info">Начало <span id="date"></span></div>
        <a class="btn accept">Участвовать</a>
        <a class="btn cancel">Отмена</a>
        <a class="btn watch">Смотреть</a>
    </div>
</div>
{% load static %}
<script>
    "use strict"
    let bg = document.querySelector('.bg')
    let dialog = document.getElementById('pay_confirmation')
    let url
    let price

    function pay(event) {
        disableScroll()
        url = window.location.origin + event.target.dataset.url
        sendRequest('get', url + '?info').then(e => {
            if (e.status === 'error') {
                enableScroll()
                show_modal_notification('В данный момент марафоны не проводятся.')
                return
            }
            if (e.user.is_player) {
                window.location.replace(url)
            } else {
                let months = ['Января', 'Февраля', 'Марта', 'Апреля', 'Мая', 'Июня', 'Июля', 'Августа', 'Сентября', 'Ноября', 'Декабря']
                price = e.price
                document.getElementById('price').innerText = price
                let date = new Date(parseInt(e.date_start))
                document.getElementById('date').innerText = `${date.getDate()} ${months[date.getMonth()]} в ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')}`

                dialog.classList.add('in')
                bg.classList.add('in')
            }
        })
    }


    function hide_pay() {
        enableScroll()
        dialog.classList.remove('in')
        bg.classList.remove('in')
    }

    function accept(event) {
        sendRequest('get', url + '?pay').then(e => {
            if (e.status === 'OK') {
                window.location.replace(url);
            } else if (e.status === 'error') {
                show_modal_notification(e.error);
            }
        });
    }

    let marafon_btn = document.querySelector('.marafon-week');
    let accept_btn = document.querySelector('.accept');
    let cancel_btn = document.querySelector('.cancel');
    let watch_btn = document.querySelector('.watch');
    marafon_btn.addEventListener('click', pay);
    accept_btn.addEventListener('click', accept);
    cancel_btn.addEventListener('click', hide_pay);
    watch_btn.addEventListener('click', () => {
        window.location.replace(url);
    });
</script>
