{% load static %}
<link rel="stylesheet" href="{% static "css/blocks/wait_block.min.css" %}">
<div class="wait_block">
    <div class="info">До начала осталось:</div>
    <div class="timer">
        <div class="timer_elem"><span class="time" id="days">0</span> <span class="unit">Дней</span></div>
        <div class="timer_elem"><span class="time" id="hours">0</span> <span class="unit">Часов</span></div>
        <div class="timer_elem"><span class="time" id="minutes">0</span> <span class="unit">Минут</span></div>
        <div class="timer_elem"><span class="time" id="seconds">0</span> <span class="unit">Секунд</span></div>
    </div>
</div>
