<!DOCTYPE html>

<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="index,follow">

    <title>КОЛИБРИНА - Добавить вопрос | Добавить авторский турни</title>

    <meta name="description" content="">

    {% include 'main/headPiece.html' %}

    <link rel="stylesheet" href="{% static "css/pages/addquestion.css" %}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% include "main/header.html" %}

<div class="addquest_info"><p>Внимание авторам! <a href="#">Обязательно к прочтению!</a></p></div>
<div class="container addquest_wrap">
    <div class="addquest_author">СЕРГЕЙ ЗАДОРОЖНЫЙ, МОСКВА, spartak2903@yandex.ru</div>
    <div class="add_in_tourn">
        <span>Внесение вопросов турнира ЭЛТН <span class="rrd">0000*</span> Эрудит-лото/Турнир недели <br><span
                class="rrd">(*номер присваиваеться редактором)</span></span>
        <div class="addtour_btn" id="add_marafon">Добавить турнир в базу</div>
    </div>
    <div class="table_add_marafon">
        <table class="addmarafon">
            <tbody id="add_marafon_table">
            <tr class="fcolt tm_row">
                <td>Название темы</td>
                <td>10</td>
                <td>20</td>
                <td>30</td>
                <td>40</td>
                <td>50</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% include 'questions/blocks/category_and_theme_block.html' %}
    <div class="addquest_btns addtheme_btn add_theme_to_table_button">
        <div class="addquest_btn" id="add_theme_to_table_button">Добавить тему на турнир</div>
    </div>
    <div id="add_question">
        {% include 'game/blocks/questionText_answers.html' %}
    </div>
</div>
{% include "main/footer.html" %}


<script>
    document.querySelector('.title > h2 > strong').innerText = "Добавить вопрос | Добавить авторский турнир"
    document.querySelector('#href_questions > span').classList.add('select')
</script>
<script src="{% static 'js/questions/marafon/row_constructor_for_adding_marafon_table.js' %}"></script>
<script src="{% static 'js/questions/marafon/question_list_constructor_on_classes.js' %}"></script>


</body>
</html>

<script>
    let table_constructor = new row_constructor_for_marafon_table()
    let filling_status = 'themes'

    function read_question() {
        let current_question = document.querySelector('.act>span')
        let author_id = parseInt('{{ request.user.id }}')
        let category_id = current_question.parentElement.dataset['categoryId']
        let theme_id = current_question.parentElement.dataset['themeId']
        let difficulty = current_question.parentElement.dataset['difficulty']
        let question_text = document.getElementById('question_text').value
        let correct_answer = document.getElementById('correct_answer').value
        let answer2 = document.getElementById('answer2').value
        let answer3 = document.getElementById('answer3').value
        let answer4 = document.getElementById('answer4').value
        let pos = current_question.innerHTML
        let pk = current_question.parentElement.dataset['rowNum'] + pos
        if (pk && author_id && category_id && theme_id && difficulty && question_text && correct_answer && answer2 && answer3 && answer4 && pos !== undefined) {
            return {
                'pk': pk, 'author_id': author_id, 'category_id': category_id,
                'theme_id': theme_id, 'difficulty': difficulty, 'question_text': question_text,
                'correct_answer': correct_answer, 'answer2': answer2, 'answer3': answer3,
                'answer4': answer4, 'pos': pos
            };
        } else {
            show_modal_notification('Для продолжения заполните все поля.')
            return false
        }
    }

    document.getElementById('add_theme_to_table_button').onclick = () => {
        let theme_field = document.getElementById('theme_id')
        let category_field = document.getElementById('category_id')
        let theme = {'id': theme_field.value, 'text': theme_field.options[theme_field.selectedIndex].text}
        let category = {'id': category_field.value}
        let add_theme_to_table_button = document.getElementById('add_theme_to_table_button')


        function switch_to_filling_with_questions() {
            filling_status = 'questions'
            let theme_and_category = document.querySelector('.addquest_theme-category')
            theme_and_category.style.opacity = '0'
            theme_and_category.style.top = '-10px'
            add_theme_to_table_button.style.opacity = '0'
            add_theme_to_table_button.style.top = '-10px'
            setTimeout(() => {
                document.querySelector('.add_theme_to_table_button').style.display = 'none'
                document.querySelector('.addquest_theme-category').style.display = 'none'
                document.getElementById('add_question').style.display = 'block'
                setTimeout(() => {
                    document.getElementById('add_question').style.opacity = '1'
                }, 100)
            }, 600)
        }

        if (table_constructor.get_table_row_count() === 3) {
            add_theme_to_table_button.innerText = 'OK'
        }
        if (table_constructor.get_table_row_count() === 4) {
            if (add_theme_to_table_button.innerText === 'OK') {
                switch_to_filling_with_questions()

                let questions = document.querySelectorAll('.circle_btn')
                questions[0].classList.add('act')

                list_questions.start_event_listener_for_circle_buttons(read_question)

                {% comment %}let result = confirm('Проверьте выбранные темы, при заполнении вопросов изменить темы нельзя. Продолжить?')
                if (result) {
                    switch_to_filling_with_questions()
                }{% endcomment %}
            }
        } else {
            let errors = table_constructor.add_row(theme.id, theme.text, category.id)
            if (errors) {
                show_modal_notification(errors.error)
            }
        }
    }

    function send_marafon() {
        let request_url = '{% url "questions_api" %}'
        let data = {
            'event': 'add_marafon_week',
            'question_list': list_questions.list
        }
        sendRequest('post', request_url, data).then(e=>{
            console.log(e)
        })
    }

    const user_id = parseInt({{ request.user.id }})
    const quantity_questions = 32

    let list_questions = new QuestionList(quantity_questions)
    {% comment %}list_questions.start_event_listener_for_circle_buttons((e)=>{
        read_question()
    }){% endcomment %}


    document.getElementById('add_marafon').onclick = () => {
        if (filling_status === 'themes') {
            show_modal_notification('Чтобы сохранить турнир- выберите четыре темы и заполните все вопросы.')
        } else if (filling_status === 'questions') {
            let question = read_question()
            if (question !== false || list_questions.quantity_questions < list_questions.enough_questions) {
                list_questions.write_question(question)
                if (list_questions.check_enough_questions()) {
                    send_marafon()
                    show_modal_notification('Готово!')
                    setTimeout(()=>{window.location.reload()},1000)
                } else {
                    show_modal_notification('Для сохранения турнира заполните все вопросы.')
                }
            } else {
                show_modal_notification('Для сохранения турнира заполните все поля')
            }
        }
    }
</script>
