<!DOCTYPE html>

<html lang="ru">
	<head>
        {% load static %}
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>КОЛИБРИНА - Добавить вопрос | Добавить авторский турни</title>

		<meta name="description" content="">
		
		{% include 'main/headPiece.html' %}

		<link rel="stylesheet" href="{% static 'css/pages/questions.css' %}">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>

        {% include "main/header.html"%}
		
		<div class="container question-nav" style="border: 1px solid #3F48CC; margin-top: 20px; padding-bottom: 20px">
			<div class="row">
				<div class="col-md-6 col-lg-6">
					<div class="row">
						<strong class="question-title">ЭРУДИТ-ЛОТО</strong>
						<div class="col-md-6 col-lg-6">
							<a href="{% url 'add-question' %}">Добавить вопрос</a>
							<a href="#">Добавить Тематический турнир</a>
						</div>
						<div class="col-md-6 col-lg-6">
							<a href="{% url 'add-tournament-week' %}">Добавить Турнир недели</a>
							<a href="#">Добавить Марафон</a>						
						</div>
					</div>

					<div class="row">
						<strong class="question-title">Своя игра <br> Эрудит-Квартет</strong>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить тему</a>
						</div>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить турнир</a>					
						</div>
					</div>
<div class="develop pd-h-10">
					<div class="row">
						<strong class="question-title"><span style="text-transform: capitalize;">Интеллектуальное шоу</span> <br> "Ворошиловский стрелок" <br> Интеллектуальный биатлон</strong>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить тему</a>
						</div>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить турнир</a>					
						</div>
					</div>

				</div>
</div>
				<div class="col-md-6 col-lg-6 develop">
					<div class="row">
						<strong class="question-title">Что? Где? Почему? <br> Брэйн-Шторм </strong>
						<div class="col-md-6 col-lg-6" style="margin-top: 23px;">
							<a href="#">Добавить вопрос</a>
						</div>
						<div class="col-md-6 col-lg-6" style="margin-top: 23px;">
							<a href="#">Добавить турнир</a>				
						</div>
					</div>

					<div class="row">
						<strong class="question-title"><br>Сильное звено</strong>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить вопрос</a>
						</div>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить турнир</a>					
						</div>
					</div>

					<div class="row">
						<strong class="question-title"><br><br>КОЛИБРИQUIZ</strong>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить вопрос</a>
						</div>
						<div class="col-md-6 col-lg-6">
							<a href="#">Добавить турнир</a>					
						</div>
					</div>
				</div>
			</div>
		</div>
		

				{% include "main/footer.html" %}


		<script>
			$(document).ready(function() {
				$("header nav a:nth-child(4) > span").addClass("select");
				$(".title > h2 > strong").html("Добавить вопрос | Добавить авторский турнир");
			});
		</script>
	

	</body>
</html>