<!DOCTYPE html>

<html lang="ru">
<head>
    {% load static %}
    {% load common_tags %}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="index,follow">

    <title>КОЛИБРИНА - Марафон</title>

    <meta name="description" content="">

    {% include 'main/headPiece.html' %}

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "marathon/css/marafon.css" %}">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% include "main/header.html" %}

<div class="container">

    <div class="marafon-top">
        {% include 'main/text_info.html' %}
        <div class="marafon-top_right">
            <div class="btn_choose">_________________</div>
            <div class="marafon-timer" id="timer">00:00</div>
        </div>
    </div>


    <form action="" method="POST" class="game">
        <div class="topics">

            {% range 4 as block_number silent %}

            {% multiply 4 %}
                <div class="topic">
                    <div class="topic-name">__________</div>
                    <div class="topic-points">
                        {% multiply 8 %}
                            <div class="topic-point" data-block="{{ block_number }}"
                                 data-pos="{% range 8 %}">{% range 100 900 100 %}</div>
                        {% endmultiply %}
                    </div>
                </div>
            {% endmultiply %}

        </div>
        <div class="row">
            <div class="col-sm-12 col-md-7 col-lg-7">
                <div class="game__question" id="question">
                    ___________________________________________________?
                </div>
                <div class="game__options">
                    {% multiply 4 %}
                        <label>
                            <input class="answer" type="radio" name="answer" value="">
                            <div class="text">_______</div>
                            <span></span>
                        </label>
                    {% endmultiply %}
                </div>
                <div class="game__button">
                    <a class="btn" id="skip_btn">Пропустить</a>
                </div>
                <div class="correct_answer">
                    Правильный ответ: <span></span>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5 rating">
                <div class="rating-title">Рейтинг топ 15 марафона</div>
                {% multiply 15 %}
                    <div class="rating-place" id="username">
                        <div class="rt-user"><span class="num">{% range 1 16 %}</span>. <span class="username"></span>
                            <span
                                    class="last_name"></span> <span class="first_name"></span> <span
                                    class="city"></span>
                        </div>
                        <div class="rt-points"> = <span class="score">0</span> (<span class="score_delta">0</span>)
                        </div>
                    </div>
                {% endmultiply %}
                <div class="players">ИГРОКИ (<span id="online_players">0</span>)</div>
                <div class="viewers">ЗРИТЕЛИ (<span id="online_watchers">0</span>)</div>
            </div>
        </div>
    </form>
    {% include 'marathon/blocks/user-stat.html' %}
</div>
{% include "main/footer.html" %}
<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'games/js/time_counter.js' %}"></script>
<script src="{% static 'games/js/timer.js' %}"></script>
<script src="{% static 'marathon/js/marathon_week/main.js' %}"></script>
<script src="{% static 'marathon/js/marathon_week/services.js' %}"></script>
<script src="{% static 'marathon/js/event_listener.js' %}"></script>
<script src="{% static 'marathon/js/render.js' %}"></script>
<script src="{% static 'marathon/js/top_fifteen.js' %}"></script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector(".title > h2 > strong").innerHTML = 'Марафон'
        document.querySelector("header nav a:nth-child(2) > span").classList.add('select')
    })
</script>

</body>
</html>