<!DOCTYPE html>

<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="index,follow">

    <title>КОЛИБРИНА - Правила</title>

    <meta name="description" content="">

    {% include 'main/headPiece.html' %}

    <link rel="stylesheet" href="{% static "core/css/fonts.css" %}">
    <link rel="stylesheet" href="{% static "css/pages/rules.css" %}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% include "main/header.html" %}


<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="rules">
                {% for rule in rules %}
                    <div class="rule_item">
                        <span class="rule_item_title">{{ rule }}</span>
                        <img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">
                        <img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">
                        <div class="rule_body">
                            {{ rule.ruleDescription|safe }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            {% include "main/banner.html" %}
        </div>
    </div>
</div>

<div class="mt20"></div>
{% include "main/footer.html" %}

<script>
    window.addEventListener('load', ()=>{
        document.querySelector("header nav a:nth-child(5) > span").classList.add("select");
        document.querySelector(".title > h2 > strong").innerHTML = "Правила";
    });

    document.querySelector('.rule_item_title').click((e)=> {
        e.target.parent().querySelector('.rule_body').slideToggle();
        e.target.parent().querySelector('.rlbt').toggle();
    })
</script>
</body>
</html>

