<!DOCTYPE html>

<html lang="ru">
	<head>
        {% load static %}
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>КОЛИБРИНА - Правила</title>

		<meta name="description" content="">
		
		{% include 'main/headPiece.html' %}

		<link rel="stylesheet" href="{% static 'css/fonts.css' %}">
		<link rel="stylesheet" href="{% static 'css/pages/rules.css' %}">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>

		{% include "main/header.html"%}
		
		<div class="container">
			<div class="row">
				<div class="col-sm-9 col-md-9 col-lg-9">
					<div class="rules">
						<div class="rule_item">
							<span class="rule_item_title">1.Введение</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
								<p><b>Зарегистрированный участник попадает в одну из шести лиг</b>: Детскую, Школьную лигу, Лигу колледжей, Студенческую лигу, Высшую лигу, Премьер-лигу и Суперлигу и при достижении определённых результатов автоматически переводится из лиги в лигу. Первоначально лигу игрок устанавливает себе сам в Личном кабинете.</p>
								<p><b>Каждый игрок играет со знатоками только своей лиги.</b></p>
								<p>Кроме лиг на <b>портале действует система Уровней знатока. Каждый играющий начинает с Уровня J-1 (юниор-1)</b> независимо от былых заслуг и медальных зачётов и растёт через L (любитель), Z (знаток), M (мастер) до P-10 (профи), то есть до десятого уровня «профессионала». Всего 50 уровней.</p>
								<p><b>«Меню турниров»</b> - основная страничка, на которой обозначены все мероприятия, в которых знатоки могут принять участие.</p>
								<p><b>Тренировка</b> – все тренировочные процессы можно играть без регистрации и взносов, при этом вы не участвуете в рейтингах, не получаете ценные призы и подарки, дипломы, грамоты, премии, благодарственные письма.</p>
								<p><b>Зрители</b> – на многих турнирах можно зарегистрироваться как зритель и просто наблюдать игру</p>
								<p><b>Данная игровая площадка проводит игры для тех игроков, которые играют на любые пакеты вопросов.</b> Оргкомитет предупреждает, что участниками может быть составлена вопросная база, которая может не отвечать ожиданиям. Если это критично для игрока, то ему лучше воздержаться от участия.</p>
								<p><b>Гуглите? Роете себе яму.</b></p>
								<p>Организаторы отдают себе отчёт в том, что при проведении игровых процессов возможна нечестная игра участников с низкой социальной ответственностью, которые могут пользоваться как посторонней помощью, так и источниками информации, поэтому:<br>
								1. Все особо крупные призовые розыгрыши будут сопровождаться offline-финалом с оказанием трансфертной помощи иногородним (не московских) участникам по Российской Федерации.<br>
								2. КДК РАИК берёт под особое наблюдение ТОП-20 любого рейтингового турнира и может выставить Особые условия участия игроку, команде включая игру «под наблюдением» или добровольную проверку на полиграфе (несовершеннолетние в присутствии и с согласия родителей). Комментарий: это не значит, что все, кто попал в ТОП-20 будут обязательно проверяться, администрация по умолчанию считает, что все игроки играют честно и только при наличии оснований будет проводиться проверка.<br>
								3. Без объяснения причин КДК РАИК аннулирует итоги и регистрацию участникам, чей рейтинг не будет соответствовать стандартным игровым процессам, а участники откажутся от прохождения процедур контроля.<br>
								4. При невозможности установления личности, или при установлении факта внесения недостоверных сведений в Личном кабинете, аккаунты блокируются или удаляются, а игрок получает бессрочную дисквалификацию.<br>
								5. Принимая помощь, недобросовестный игрок искусственно завышает свои показатели, в результате он поднимается по ступенькам «Уровня игрока», при этом у него автоматически изменяется Лига участника, то есть в дальнейшем он просто ВЫНУЖДЕН СИСТЕМАТИЧЕСКИ ИГРАТЬ НА ЗАВЫШЕННОМ УРОВНЕ, на более сложные вопросы, которым он не соответствует. В результате обеспечена потеря интереса к игре.<br>
								6. Администрация имеет право отказать в участи любому игроку, команде без объяснения причин и официально уведомляет о том, что может изменить условия призового фонда любого турнира в одностороннем порядке.<br>
								7. Установленный факт использования подсказки для всех участников (кто подсказывал, кто принимал подсказку, иных лиц, участвующих в данном процессе) влечёт за собой срок дисквалификации от 3 лет до «без определения срока»</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">2. Правила игры «Эрудит-лото</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">3. Правила игры «Своя игра»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">4. Правила игры «Эрудит-квартет»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">5. Правила игры «Интеллектуальное шоу «Ворошиловский стрелок»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">6. Правила игры «Что? Где? Почему?»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">7. Правила игры «Интеллектуальный биатлон»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">8. Правила игры «Брэйн-шторм»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">9. Правила игры «Сильное звено»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">10. Правила игры «Колибри-quiz»</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">11. Правила регистрации</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">12. Правила подачи апелляции/уточнения вопроса/дисквалификация</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">13. Лиги и категории знатоков</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
						<div class="rule_item">
							<span class="rule_item_title">13. Лиги и категории знатоков</span>
{#							<img class="rule_btn rlbt" src="{% static 'img/icons8-plus-64.png' %}" alt="">#}
{#							<img class="rule_btn_up rlbt" src="{% static 'img/icons8-drop-down-48.png' %}" alt="">#}
							<div class="rule_body">
								<p>Сборник популярных интеллектуальных игр online «Колибрина» разработан Московским центром интеллектуальных игр под руководством Владимира Задорожного и предназначен для широкого круга любителей интеллектуальных игр.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-3 col-md-3 col-lg-3">
					{% include "main/banner.html" %}
				</div>
			</div>
		</div>
		
		<div class="mt20"></div>
		{% include "main/footer.html"%}

		<script>
			$(document).ready(function() {
				$("header nav a:nth-child(5) > span").addClass("select");
				$(".title > h2 > strong").html("Правила");
			});

			$('.rule_item_title').click(function(){
				$(this).parent().find('.rule_body').slideToggle();
				$(this).parent().find('.rlbt').toggle();
			})
		</script>
	</body>
</html>

