<!DOCTYPE html>

<html lang="ru">
	<head>
        {% load static %}
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="index,follow">

			<title>КОЛИБРИНА - Проигрыш :(</title>

		<meta name="description" content="">
		
		{% include 'main/headPiece.html' %}


		<link rel="stylesheet" href="{% static "css/pages/wrong.css"%}">

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body>

						{% include "main/header.html"%}

		
		<div class="mt20"></div>
		<div class="container">
			<div href="#" class="status_red flex-row"><span>Ответ неверный</span></div>
			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">			
					<div class="text-author">
						<span>Автор вопроса: {{ author }}</span>
					</div>

					<p id="info-question">Правильный ответ на вопрос: </p>
					<p id="question">"{{ question }}"</p>
					<p id="answer">
						<i class="fa fa-caret-right" aria-hidden="true"></i> <span>{{ correctAnswer }}</span>
					</p>
					<div class="mt40"></div>

					<div id="points">Вы набрали: {{ score|safe }}</div>
					<div class="new-game flex-row">
						<a href="{{ newGame }}">Новая игра</a>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4">
					{% include "main/banner.html"%}
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-8 col-md-8 col-lg-8">
					<div class="estimate-author flex-row">
						<span>Оцените автора: </span>
						<a href="#">0</a>
						<a href="#">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#">4</a>
						<a href="#">5</a>
						<a href="#">6</a>
						<a href="#">7</a>
						<a href="#">8</a>
						<a href="#">9</a>
						<a href="#">10</a>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-4"></div>
			</div>
		</div>
		<div class="mt20"></div>

		<form action="{% url 'clarify-question' %}" method="POST" class="modal" id="ask-question">{% csrf_token %}
			<div class="modal__ask-question">
				<div class="modal__ask-question__head">
					<p>УТОЧНЕНИЕ ПО ВОПРОСУ</p>
				</div>
				<div class="modal__ask-question__body">
					<p>Если Вы считаете, что в вопросе присутствует фактическая ошибка, или он содержит дуальность ответа, напишите нам об этом с обязательной ссылкой на источник, на который Вы опираетесь. Мы также будем Вам благодарны за устранение неточностей, иные замечания и предложения. </p>
                    <input type="text" name="user" value="{{ request.user }}" hidden>
                    <input type="text" name="questID" value="{{ questID }}" hidden>
                    <input type="text" name="question" value="{{ question }}" hidden>
                    <textarea cols="60" rows="5" name="message"></textarea>
                    <button type="submit" id="submit-btn" hidden></button>
					<a href="javascript:void(0)" onclick="document.querySelector('#submit-btn').click()">Отправить</a>
					<a href="#" class="close">Отменить</a>
				</div>				
				<div class="modal__ask-question__close">
					<a href="#" class="close">x</a>
				</div>
			</div>
		</form>

						{% include "main/footer.html"%}

		
		<script>
			$(document).ready(function() {
				$(".title > h2 > strong").html("Тренировка Эрудит-Лото");
				$(".footer__buttons").append('<a href="#ask-question" class="open-modal">Уточнение по вопросу</a>');
			});
		</script>
		
		<script src="{% static 'js/modal.js' %}"></script>
	</body>
</html>