<footer class="footer flex-column">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
                <script src="https://yastatic.net/share2/share.js"></script>
                <div class="ya-share2" data-services="vkontakte,dockerfacebook,odnoklassniki,twitter,telegram"></div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 footer__buttons">
                <a href="#" class="mobile-version">Для мобильных устройства</a>
            </div>
        </div>
    </div>
</footer>

<script>
    try {
        document.querySelector('#href_{{ request.resolver_match.url_name }} > span').classList.add('select')
    } catch {}
</script>