{% load static %}
<header>
	<div class="header-gradient">
		<div class="container flex-column">
			<div class="logo">
				<img src="{% static "img/logo.png" %}" alt="КОЛИБРИНА - Логотип">
			</div>
			<div class="caption">
				<h1>Колибрина</h1>
				<h2>Интеллектуальные игры для знатоков</h2>
			</div>
		</div>
	</div>
	<nav>
		<a href="/account"><span>Личный кабинет</span></a>
		<a href="/tournament-menu"><span>Турниры</span></a>
		<a href="#"><span>Рейтинги</span></a>
		<a href="/questions"><span>Добавить вопрос в базу</span></a>
		<a href="#"><span>Правила</span></a>
		<a href="#"><span>Чат</span></a>
		{% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}"><span>Вход/Регистрация</span></a>
            {% else %}
                <a href="{% url 'logout' %}"><span>Выход</span></a>
        {% endif %}
	</nav>
</header>
<div class="title">
    <h2><strong></strong></h2>
</div>
{% if errors %}
    <br>
    <div class="bg-danger error container">
        <p class="al-center">ERROR</p><br>
        {% for err in errors %}
            <p class="error"><a href="{{ err.link }}">{{ err.tlink }}</a>{{ err.error }}</p>
        {% endfor %}
{#        {% for error in errors %}#}
{#            {% for error, link, text_link in error %}#}
{#                <p class="error"><a href="{{ link }}">{{ text_link }}</a>{{ error }}</p>#}
{#            {% endfor %}#}
{#        {% endfor %}#}
    </div>
{% endif %}