{% load static %}
<header>
    <div class="header-gradient">
        <div class="container">
            <a href="{% url 'train' %}" id="brand-name" style="display: flex;">
                <div class="logo">
                    <img src="{% static "img/logo.png" %}" alt="КОЛИБРИНА - Логотип">
                </div>
                <div class="caption">
                    <h1>Колибрина</h1>
                    <h2>Интеллектуальные игры для знатоков</h2>
                </div>
            </a>
            <div id="online">ONLINE: <span></span></div>

            {% if request.user.is_authenticated %}
            <div class="header_balance" id="balance">Баланс: <span></span></div>
            {% endif %}
        </div>
    </div>
    <nav>
        <a id="href_account" href="{% url 'account' %}"><span>Личный кабинет</span></a>
        <a id="href_tournaments" href="{% url 'tournaments' %}"><span>Турниры</span></a>
        <a id="href_ratings" href="{% url 'ratings' %}"><span>Рейтинги</span></a>
        <a id="href_questions" href="{% url 'questions' %}"><span>Добавить вопрос в базу</span></a>
        <a id="href_rules" href="{% url 'rules' %}"><span>Правила</span></a>
        <a id="href_chat" href="{% url 'chat' %}"><span>Чат</span></a>
        {% if not request.user.is_authenticated %}
            <a id="href_login" href="{% url 'login' %}"><span>Вход/Регистрация</span></a>
        {% else %}
            <a id="href_logout" href="{% url 'logout' %}"><span>Выход</span></a>
        {% endif %}
    </nav>
</header>
<div class="title">
    <h2><strong>{{ title }}</strong></h2>
</div>
{% if errors %}
    <br>
    <div class="error container">
        <p class="al-center">ERROR</p><br>
        {% for err in errors %}
            <p class="error al-center"><a href="{{ err.link }}">{{ err.tlink }}</a>{{ err.error }}</p>
        {% endfor %}
    </div>
{% endif %}
<script src="{% static 'js/fetch.js' %}"></script>
{% if request.user.is_authenticated %}
<script>
    let balance
    let balance_url = '{% url 'API' %}'

    function update_balance() {
        sendRequest('get', balance_url, 'balance').then(data => {
            balance = data.balance
            document.querySelector('#balance span').innerText = balance
        })
    }
    update_balance()
</script>
{% endif %}
<script>
    const onlineSocket = new WebSocket(
        `${window.location.protocol === 'https:' ? 'wss' : 'ws'}://`+ window.location.host + '/ws/online/'
    );
    onlineSocket.onmessage = e => {
        let data = JSON.parse(e.data)
        if (data.type === 'online') {
            document.querySelector('#online span').textContent = data.online
        }
    }
    onlineSocket.onclose = e => {
        console.error('Online socket closed unexpectedly.', e);
    };
</script>

<div id="modal_notification"></div>
<script>
    function show_modal_notification(text) {
        if (!text){
            text = 'Что-то пошло не так...'
        }
        let notification = document.getElementById('modal_notification')
        notification.innerText = text
        notification.style.opacity = '1'
        notification.style.top = '1vh'
        setTimeout(() => {
            notification.style.opacity = ''
            notification.style.top = ''
        }, 5000)
    }
</script>
<script src="{% static 'js/scrolling_toggle.js' %}"></script>